<div id="flow">
	<div class="header__block">
		<div class="header__block--title">Let's get out of debt</div>
		<div class="header__block--subtext">But first we need some basic finances</div>
	</div>
	<%= react_component("Flow", {navButtons: @flow}) %>
</div>
