<center id="home">
	<div class="information__block">
		<div class="information__block--logo">
			<%= image_tag('hidden_green_icon', size:'124x182') %>
		</div>
		<div class="information__block--header">
			<span>Debt</span><br>
			<span>Calculator</span>
		</div>
		<div class="information__block--subtext">
			The Hidden Green is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside millions of other developers.
		</div>
	</div>
	<div class="signup__block">
		 <h1>Here is where the sign up form will go</h1>
	</div>
</center>
