<center id="home">
	<div class="information__block">
		<div class="information__block--logo">
			<%= image_tag('hidden_green_icon', size:'124x182') %>
		</div>
		<div class="information__block--header">
			<span>Debt</span><br>
			<span>Calculator</span>
		</div>
		<div class="information__block--subtext">
			The Hidden Green is a development platform inspired by the way you work. Nowadays everybody wanna talk like they got something to say. But nothing comes out when they move their lips just a bunch of gibberish. And motherfuckers act like they forgot about Dre..
		</div>
	</div>
	<div class="signup__block">
		<div class="signup__block--container cf">
			<%= render "sign_up_form" %>
		</div>
	</div>
</center>
