@import 'variables';

#flow{
	padding: 2% 15%;
	font-weight: 300;
}
.header__block{
	margin-bottom:25px;
	&--title{
		font-size:45px;
		margin-bottom: 4px;
	}
	&--subtext{
		font-size: 21px;
	}
}
.navbutton__block{
	display:flex;
	box-shadow: 0 1px 3px rgba(0,0,0,0.075);
	&--btn{
		float:left;
		width: 25%;
		line-height:62px;
		color:#c6cbd1;
		background: #fafbfc;
		text-align: center;
		white-space: nowrap;
		display: inline-block;
		overflow:none;
		border: 1px solid #dfe2e5;
		border-right: none;
		svg{
			vertical-align:-6px;
			margin-right:5px;
			fill:#c6cbd1;
		}
	}
	.accessible{
		color: #586069;
		svg{
			fill:#586069;
		}
		&:hover{
			background: white;
			cursor: pointer;
		}
	}
	.completed{
		background: #fafbfc;
		svg{
			fill: $hidden_green;
		}
	}
	.active{
		background: white;
	}
	&--btn:last-child{
		border-right: 1px solid #dfe2e5
	}
}

.activebox__block{
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
	border: 1px solid #dfe2e5;
	padding: 25px;
	margin-top: 10px;
	&--persisted{
		color: $hidden_green;
		font-size: 45px;
		font-weight: 700;
	}
	&--prompt{
		font-size: 22px;
		margin-bottom: 17px;
	}
	&--singleform{
		input[type="number"]{
			border: none;
			text-align: center;
	    padding: 12px 6px;
	    font-size: 27px;
	    color: #82CA9C;
	    border-right: 1px solid #dfe2e5;;
	    background: white;
	    /* padding-left: 23px; */
	    /* text-align: right; */
	    margin-right:13px;
	    width: 70%;
			&:focus{
				outline: none;
			}
		}
		input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		.input_and_submit{
			display:inline-block;
			background: white;
		  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.075);
			font-size: 27px;
	    color: #82CA9C;
			font-weight: 400;
			border: 1px solid #dfe2e5;
			svg{
				fill: $hidden_green;
				vertical-align:-8px;
				&:hover{
					fill: darken($hidden_green, 10%);
					cursor: pointer;
				}
			}
			input[type="submit"]{
				display:none;
			}
		}
		.singleSubmit{

		}
	}
}
