@import 'variables';

#flow{
	padding: 2% 15%;
	font-weight: 300;
}
.header__block{
	margin-bottom:25px;
	&--title{
		font-size:45px;
		margin-bottom: 4px;
	}
	&--subtext{
		font-size: 21px;
	}
}
.navbutton__block{
	display:flex;
	box-shadow: 0 1px 3px rgba(0,0,0,0.075);
	&--btn{
		float:left;
		width: 25%;
		line-height:62px;
		color:#c6cbd1;
		background: #fafbfc;
		text-align: center;
		white-space: nowrap;
		display: inline-block;
		overflow:none;
		border: 1px solid #dfe2e5;
		border-right: none;
		svg{
			vertical-align:-6px;
			margin-right:5px;
			fill:#c6cbd1;
		}
	}
	.accessible{
		color: #586069;
		svg{
			fill:#586069;
		}
		&:hover{
			background: white;
			cursor: pointer;
		}
	}
	.completed{
		background: #fafbfc;
		svg{
			fill: $hidden_green;
		}
	}
	.active{
		background: white;
	}
	&--btn:last-child{
		border-right: 1px solid #dfe2e5
	}
}

.activebox__block{
	text-align: center;
	&--prompt{
		font-size: 22px;
		margin:25px 0;
	}
	&--singleform{
		display: flex;
		padding: 0 13%;
		svg, input[type="number"]{
			display: inline-block;
			float:left;
			white-space: nowrap;
		}
		svg{
			fill: $hidden_green;
		}
		input[type="number"]{
			border: none;
			border-bottom: 1px solid $hidden_green;
			font-size: 45px;
			vertical-align: 8px;
			color: $hidden_green;
			&:focus{
				outline: none;
			}
		}
		.singleSubmit{
			input[type="submit"]{
				margin-top:50px;
			}
		}
	}
}
