body {
	font-family: 'Roboto', sans-serif;
}

.cf:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
